$purple: #635FC7;
$light-purple: #A8A4FF;
$black: #000112;
$very-dark-grey: #20212C;
$dark-grey: #2B2C37;
$medium-grey: #3E3F4E;
$grey: #828FA3;
$light-grey: #E4EBFA;
$very-light-grey: #F4F7FD;
$white: #FFFFFF;
$red: #EA5555;
$light-red: #FF9898;