@import 'functions', 'colors';

.header {
    border: toRem(1) solid $light-grey;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $white;


    &__settings {
        svg {
            cursor: pointer;
        }
    }
}