@import 'functions', 'colors';

.sidebar {
    position: relative;
    display: block;
    height: 100%;
    min-width: toRem(300);
    border: toRem(1) solid $light-grey;
    margin-left: 0;
    transition: 0.25s all ease-in;

    &.-close {
        margin-left: toRem(-300);
        transition: 0.25s all ease-in;
    }

    &__content {
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__board {
        cursor: pointer;
        width: 85%;

        h4 {
            color: $grey;
        }

        &:hover,
        &.-active {
            background-color: $purple;
            border-top-right-radius: toRem(100);
            border-bottom-right-radius: toRem(100);

            h4 {
                color: $white;
            }

            svg path {
                fill: $white;
            }
        }

    }

    &__add {

        cursor: pointer;

        h4 {
            color: $purple;
        }

        svg path {
            fill: $purple;
        }
    }

    &__toggle {
        position: absolute;
        bottom: toRem(35);
        left: 0;
        width: 4.25rem;
        padding: 1.25rem 0rem 1.25rem 1.15rem;
        background-color: $purple;
        border-top-right-radius: toRem(100);
        border-bottom-right-radius: toRem(100);
    }
}